@font-face {
    font-family: GrandHotel;
    src: url(GrandHotel-Regular.otf);
}

body {
	background-color: #ecf0f1;
}

.commingsoon {
    padding-top: 20px;
    text-align: center;
    margin: auto;
    font-size: 50px;
    font-family:GrandHotel;
    color: red;
    animation-iteration-count: 60;
}

.gif {
    display: block;
    text-align: center;
    margin: auto;
}

.senddnes:hover{
    color: red;
}

.alert-danger{
    text-align: center;
}
.alert-success{
    text-align: center;
}

.formulairedecontact{
    text-align: center;
    font-family:GrandHotel;
    font-size: 50px;
}

.g-recaptcha > div > div{
    margin:auto;
    text-align: center;
    width: auto;
    height: auto;
}